//global variables ------------------------------------------------
$base-font-size: 16px;
$site-max-width: 100%; //1200px;


$lightBlue: #0BBFDA;

$avatarImageSize:100px;

//global colors

$white: #FFFFFF;
$gray: #cccccc;