<section id="home" class="row">
    <section class="misionSection col-xs-12">
        <div class="copy-wrapper wow fadeIn">
            <h1><span class="h1-bullet"> &#8226; </span> Our Mision <span class="h1-bullet"> &#8226; </span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sollicitudin dolor. Etiam non aliquet augue, a aliquet dui. Quisque nibh elit, sodales vitae vulputate sed.</p>
        </div>
    </section>
    <section class="aboutSection col-xs-12">
        <div class="copy-wrapper wow fadeIn">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sollicitudin dolor. Etiam non aliquet augue, a aliquet dui. Quisque nibh elit, sodales vitae vulputate sed.</p>
        </div>
    </section>
    <section class="teamSection col-xs-12 wow fadeIn">
        <div class="copy-wrapper">
            <h1 class="wow fadeIn">Team</h1>
            <div class="images">
                <div>
                    <div id="image1" class="wow fadeIn" data-wow-delay="0s">
                    </div>
                    <p class="caption"><span class="bolder">John Doe</span>
                        <br/>Founder & CEO</p>
                </div>
                <div>
                    <div id="image2" class="wow fadeIn" data-wow-delay="0.3s">
                    </div>
                    <p class="caption"><span class="bolder">John Doe</span>
                        <br/>Co Founder</p>
                </div>
                <div>
                    <div id="image3" class="wow fadeIn" data-wow-delay="0.2s">
                    </div>
                    <p class="caption"><span class="bolder">John Doe</span>
                        <br/>Co Founder</p>
                </div>
            </div>
            <div id="workWithUs" class="wow fadeIn" data-wow-delay="0.8s">
                <p>work with us</p>
            </div>
        </div>
    </section>
    <section class="locationSection col-xs-12 wow fadeIn" data-wow-delay="0.6s">
        
        <ui-gmap-google-map center='map.center' zoom='map.zoom'  ></ui-gmap-google-map>
        
    </section>
</section>
