<div id="navigation" class="row wow fadeIn">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 ">
            <div class="navLogo">
                <div id="companyLogoNav"> </div>
            </div>
        </div>

        
        <div class="col-xs-12 col-sm-6">
            <div class="navItems">
                <ul>
                    <li>
                        <!--
             -->
                        <a class="navigation_link" ui-sref="#" ui-sref-active="active">
                            <div>Label</div>
                        </a>
                    </li>
                    <li>
                        <!--
             -->
                        <a class="navigation_link" ui-sref="#">
                            <div>Label</div>
                        </a>
                    </li>
                    <li>
                        <!--
             -->
                        <a class="navigation_link" ui-sref="#">
                            <div>Label</div>
                        </a>
                    </li>
                    <li>
                        <!--
             -->
                        <a class="navigation_link" ui-sref="#">
                            <div id="signInNav">Sign in</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
